.idea
*.swp
.DS_Cache
.DS_Store

/devdata
/vendor

/example/e2e/logs
/example/e2e/data/triton_model_repository

# binaries
/example/client/mlyc/mlyc
/example/server/mly/mly

/toolsv2/aerospike/aerospike
/toolsv2/smasher/cmd/cmd
/toolsv2/toolsv2